<h1 class="title">The Quote Book</h1>

<div class="quote" style="background-image: url('<%=@image.strip%>'); ">
    <div class="quote-container" style="position: relative; top: <%=@top%>%; left: <%=@left%>%; ">
        <h3 class="quote-body"> 
            <%=@quote.body.sub("\\n", "\n")%>
        </h3>
        <div class="quote-author">
            <%=@quote.author %>
        </div>
    </div>
</div>

</div>
    <%=link_to root_path, :class=> "button" do%>
        More
    <% end %>
<div>

